/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.post_content {
  margin-left: 10px;
  margin-bottom: 40px;
  font-size:18px;
  text-align:left;
  color:cornflowerblue;
}

.post_content_border {
  border: white 8px outset;
}

ol#comments_list
{
  margin: 12px 10px;
  padding: 0;

  li
  {
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #EEE8E1;

    cite
    {
      display: block;
      font-style: normal;
      font-weight: bold;
      padding: 7px;
      border-bottom: 1px solid gray;
    }

    .comment_text
    {
      clear: both;
      margin: 0;
      padding: 0;
    }
  }

  li:nth-child(odd)
  {
    background-color: #CECECE;
  }
}

